.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.img {
  width: 300px;      /* change to your desired width */
  height: 200px;     /* change to your desired height */
  object-fit: cover;
  border-radius: 10px;   /* optional */
}
